@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: $text

::selection
  background-color: $accent-brown
  color: #fff

body
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.3
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent-brown
  text-decoration: none

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important

// ======= END TEMPLATE STYLES =======
.btn
  display: inline-block
  +mt(.3s)
  width: 280px
  font-size: 16px
  line-height: 1
  white-space: nowrap
  padding: 14px 0 12px
  text-align: center
  border-radius: 40px
  box-shadow: none
  cursor: pointer

.btn-brown
  background-color: $accent-brown
  color: #fff
  border: none
  &:active, &:focus
    background-color: #bd2e50
    color: #fff
  &:hover
    background-color: #a12643
    color: #fff

h2.section-title
  font-size: 48px
  font-family: "SignPainter", sans-serif
  font-weight: normal
  margin-bottom: 0
  line-height: 1
  span
    color: $accent-brown


.slides-transparent
  position: relative
  .slick-slide
    +mt(.5s)
    opacity: .2
  .slick-current
    position: relative
    +mt(.4s)
    opacity: 1
    &:after
      content: ''
      position: absolute
      background: transparent
      left: 0
      top: 0
      bottom: 0
      right: 0
      +mt(.4s)
      opacity: 1
  .slick-list
    //height: 500px
  .prevSlide, .nextSlide
    position: relative
    +mt(.4s)
    opacity: .2
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      +mt(.4s)
  .nextSlide
    &:after
      background: linear-gradient(to left, rgba(#fff, 1) 0%, rgba(#fff, 1) 70%, rgba(#fff, 0.2) 100%)
  .prevSlide
    &:after
      background: linear-gradient(to right, rgba(#fff, 1) 0%, rgba(#fff, 1) 70%, rgba(#fff, 0.2) 100%)

.slick-slider
  .slick-prev, .slick-next
    width: 17px
    height: 32px
    background-color: transparent
    border: none
    +bg-cover
    position: absolute
    top: calc(50% - 9px)
    cursor: pointer
    z-index: 100
  .slick-prev
    background-image: url('../img/icons/slide-prev.png')
    left: 55px
  .slick-next
    background-image: url('../img/icons/slide-next.png')
    right: 55px




