@import vars


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1400px)

  .mm-navbar
    margin-top: 10px

  .mm-close-btn
    top: 10px

  .mm-panel
    ul
      margin-top: 30px
      font-size: 20px
      li
        margin-bottom: 20px

  .mm-panels
    background-position: -165px 0
    .container:after
      font-size: 135px
      right: -180px
      top: 280px

  .mm-additional-items
    margin-top: 75px


// ≥1200px
+media-breakpoint-down(lg)

  .s-additional
    background-position: center -160px
  
  .section-form
    padding-left: 0
    &:before
      display: none

  .review-slide
    transform: scale(.9)

  .video-h
    display: none

  .choose
    margin-top: 50px

  .problems-slide
    height: 350px

  .s-intro
    background-position: -550px center

  .intro-sitename
    right: -310px

// ≥992px
+media-breakpoint-down(md)

  .add-item-img
    height: 500px

  .section-form
    text-align: center

  .reviews-slider .slick-next, .reviews-slider .slick-prev
    bottom: -60px

  .slides-count
    top: -65px

  .s-video
    background-size: auto 80%

  .choose-wrap
    flex-wrap: wrap
    height: auto
    top: 0
    margin-bottom: 50px

  .choose-item
    margin-top: 0
    width: calc(33% - 4px)
    margin-right: 0
    &:first-child
      height: 410px
      width: 100%
      margin-right: 0
      margin-bottom: 30px

  .choose
    .section-title
      width: 100%
      text-align: center

  .videocom-title
    font-size: 20px
    margin-bottom: 10px

  .video-item
    height: 370px

  .special
    ul
      margin-top: 50px

  .problems-slider
    margin-top: 30px
  .problems-slide
    height: 500px

// ≥768px
+media-breakpoint-down(sm)

  .gift-wrap
    padding-left: 0
  .gift-percents
    top: 135px
  .special
    li
      z-index: 2

  .intro-purpose
    position: absolute
    margin-top: 0
    transform: rotate(-270deg)
    top: 350px
    font-size: 14px
    right: -108px
    .svg
      width: 20px
      height: 20px
      top: -1px
      margin-right: 10px
    &:before
      width: 75px
      content: ''
      height: 1px
      position: absolute
      background-color: #c4898a
      left: -95px
      top: 6px

  .s-intro
    h1
      margin-top: 30px
      text-align: center
      font-size: 36px
    h2
      font-size: 48px
      padding-left: 0
      text-align: center
    .btn
      display: block
      margin-left: auto
      margin-right: auto

  .intro-discount
    margin-top: 330px
    width: 100%
    height: 108px
    min-width: 335px
    background-size: contain
    position: relative
    margin-bottom: 25px
    &-percent
      position: absolute
    &-desc
      div
        display: inline-block
        font-size: 12px
        margin-right: 13px
        margin-bottom: 0
      span
        font-size: 22px
    &-actual
      font-size: 42px

  .intro-unknown
    margin-top: 30px
    &:before
      width: 45px
      top: -5px
      margin-right: 20px

  .intro-sitename
    right: auto
    font-size: 32px
    top: 290px
    left: -190px


  .toggle-mnu, .recall-head
    float: none
  .top-line
    display: flex
    justify-content: space-between
  .recall
    span
      display: none

  .toggle-mnu
    width: 27px
    height: 20px
    span:after, span:before
      top: 8px
    span:after
      top: 16px
    span, span:after, span:before
      height: 2px
      border-radius: 2px
    &.on span:before
      transform: rotate(45deg) translate(-2px, 0px)
    &.on span:after
      transform: rotate(-45deg) translate(5px, -7px)

  .logo
    font-size: 20px

  .recall-head
    right: 0
    top: 0
    &:before
      width: 26px
      height: 26px
      left: 0
      position: relative
      display: inline-block
    &:after
      display: none

// ≥480px
+media-breakpoint-down(xs)

  .s-additional
    background-image: none
    background-color: #87233a
    color: #fff
    .section-desc
      font-size: 12px
    .section-title
      color: #fff

  .add-item
    &-img
      height: 260px

  .s-form
    background-image: url('../img/bg-form-mobile.png')
    margin-top: -120px
    padding-bottom: 400px

  .section-form
    .section-title
      margin-top: 0


  .reviews-slider
    .slick-prev
      left: calc(50% - 100px)
    .slick-next
      right: calc(50% - 100px)

  .review-slide
    padding: 35px
    transform: scale(1)
    opacity: 1
    background-color: #fff5f1
    &-desc
      margin-bottom: 35px

    &:before, &:after
      display: none

  .choose-item
    height: 140px
    padding: 0
    &:first-child
      padding: 250px 25px 25px 25px

  .feat-item-desc
    padding-left: 0

  .video-item
    height: 200px

  .special
    li
      font-size: 12px
      margin-bottom: 20px
    h2.section-title
      text-align: center

  .gift-percents
    font-size: 145px
    top: 170px

  .gift-wrap
    text-align: center
  .gift
    width: 280px
    text-align: left
    margin-left: auto
    margin-right: auto
    .svg
      margin-right: 10px

  .s-advantages
    padding-top: 60px
    &:before
      font-size: 120px
      width: 300px
      left: calc(50% - 150px)

  .adv-item
    padding: 25px
    h3
      font-size: 16px
    li:before
      left: 15px

  h2.section-title
    font-size: 36px
    text-align: center

  .s-problems
    padding-top: 40px

  .problems-slider
    .slick-prev
      left: 6px
    .slick-next
      right: 6px

  .problems-slide
    height: 340px

  .mm-panels
    background-image: url('../img/bg-menu-transparent.png')
    background-position-x: -225px

  .mm-panels .container:after
    right: auto
    left: -150px

  .mm-additional-items
    z-index: 2
    position: relative

  .mm-navbar__title
    font-size: 18px
    color: $text!important
    margin-left: 20px
  .mm-close-btn
    width: 27px
    height: 27px
    top: 17px
    right: 10px
  .mm-panel
    ul
      font-size: 18px
      margin-left: 30px
      z-index: 2
      position: relative


  .intro-unknown
    font-size: 12px

  .intro-discount
    padding-left: 30px
    padding-right: 35px
    height: 75px
    &-actual
      font-size: 35px
    &-desc
      font-size: 14px
      span
        font-size: 16px

  .s-intro
    background-image: url('../img/bg-intro-mobile.png')
    background-position: 0 0
    padding-bottom: 30px

/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
